.fa-phone{
  border: 1px solid rgb(201, 200, 200);
  padding: 3px 15px;
  font-weight: lighter;
}

.g-translator{
  padding-right: 15px;
}

@media screen and (max-width: 480px) {
  .fa-phone{
    display: none;
  }
}